[build]
  publish = "public"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[[scheduled]]
  path = "/.netlify/functions/daily-reminder"
  cron = "0 14,0 * * *" # 8:00 AM y 6:00 PM CST (UTC-6) -> 14:00 y 00:00 UTC
